@model StoreManagement.Data.Entities.Retailer

@{
    ViewBag.Title = "Delete";
}






<div class="col-md-12">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Retailers</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <h2>Retailer Management</h2>

                <h2>Delete</h2>

                <h3>Are you sure you want to delete this?</h3>
                <fieldset>
                    <legend>Retailer</legend>

                    <div class="display-Retailer">StoreId</div>
                    <div class="display-field">@Model.StoreId</div>


                    <div class="display-Retailer">Name</div>
                    <div class="display-field">@Model.Name</div>


                    <div class="display-Retailer">UpdatedDate</div>
                    <div class="display-field">@String.Format("{0:g}", Model.UpdatedDate)</div>

                    <div class="display-Retailer">CreatedDate</div>
                    <div class="display-field">@String.Format("{0:g}", Model.CreatedDate)</div>

                    <div class="display-Retailer">Ordering</div>
                    <div class="display-field">@Model.Ordering</div>

                    <div class="display-Retailer">State</div>
                    <div class="display-field">@Model.State</div>
                </fieldset>
                   
                <p>
                    <input class="btn btn-danger btn-block btn-lg" data-toggle = "modal"  data-target = "#myDeleteModal" type="submit" id="MyDeleteButton" value="Delete" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-lg btn-block" })
                </p>
                

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                   <input type="submit" style="display: none;" id="DeleteItemButton" />
                }



            </div>
        </div>
    </div>



</div>



