<div>@Model.Id</div>
<div>@Model.StoreId</div>
<div>@Model.CategoryId</div>
<div>@Model.Name</div>
<div>@Model.Description</div>
<div>@Model.Type</div>
<div>@Model.ImagePath</div>
<div>@Model.MainPage</div>
<div>@Model.State</div>
<div>@Model.ImageState</div>
<div>@Model.Ordering</div>
<div>@Model.Lang</div>
<div>@Model.CreatedDate</div>
<div>@Model.Url</div>
