@model StoreManagement.Data.Entities.Category

@{
    ViewBag.Title = "Create";
    int storeId = Model != null ? Model.StoreId : 0;
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Category</legend>
        @Html.HiddenFor(model => model.Id)
        <div class="editor-label control-group">
            @Html.LabelFor(model => model.StoreId, new { @class = "control-label" })
        </div>
        <div class="editor-field controls">
            @Html.Action("StoresDropDown", "Stores", new { storeId })
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.ParentId)
        </div>
        <div class="editor-field">
            <input type="hidden" id="ParentId" name="ParentId"/>
            <select id="ParentIdDropDown" class="chosen-select" style="width:350px;">
                
            </select>
            

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ordering)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ordering)
            @Html.ValidationMessageFor(model => model.Ordering)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryType)
            @Html.ValidationMessageFor(model => model.CategoryType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts
{
    <script>
        $(document).ready(function() {

            loadParentCategories($("#StoreId").val());

            $("#StoreId").change(function() {
                var storeId = $(this).val();
                loadParentCategories(storeId);
            });
            
            function loadParentCategories(storeId) {
                var url = "/Ajax/GetRootCategories?storeId=" + storeId;
                console.log(url);
                $.post(url, function(data) {
                    $('select#ParentIdDropDown').empty();
                    $.each(data, function (i, slaveValue) {
                        $('select#ParentIdDropDown').append($('<option></option>').val(slaveValue.Value).html(slaveValue.Text));
                    });
                    $('select#ParentIdDropDown').chosen({}).change(function (event) {
                        $("#ParentId").val($(this).val());
                    });
                });

            }
        });
        
      


    </script>


    }
