@model IEnumerable<StoreManagement.Data.Entities.Setting>

@{
    ViewBag.Title = "Index";
    var types = (List<string>) ViewBag.Types;
}

<h2>Sitenin genel ayarlari.. Butun ayarlari GIRIN lutfen.. </h2>
@foreach (var t in types)
{
    @Html.ActionLink(t.ToString(),"Index","Settings", new {type=t}, new { @class="btn btn-default" }) @: |
}
<br/>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th></th>
        <th>
            SettingKey
        </th>
        <th>
            SettingValue
        </th>
        <th>
            Type
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.SettingKey
        </td>
        <td>
			@item.SettingValue
        </td>
        <td>
			@item.Type
        </td>
    </tr>
}

</table>


