@model IEnumerable<StoreManagement.Data.Entities.Setting>

@{
    ViewBag.Title = "Index";
    var types = (List<string>) ViewBag.Types;
}

<h2>Sitenin genel ayarlari.. Butun ayarlari GIRIN lutfen.. </h2>
@foreach (var t in types)
{
    @Html.ActionLink(t.ToString(),"Index","Settings", new {type=t}, new { @class="btn btn-default" }) @: |
}
<br/>
  <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li role="presentation" class="dropdown-header">Dropdown header</li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" class="dropdown-header">Dropdown header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th></th>
        <th>
            SettingKey
        </th>
        <th>
            SettingValue
        </th>
        <th>
            Type
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.SettingKey
        </td>
        <td>
			@item.SettingValue
        </td>
        <td>
			@item.Type
        </td>
    </tr>
}

</table>


