@model IEnumerable<StoreManagement.Data.Entities.Setting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th></th>
        <th>
            StoreId
        </th>
        <th>
            SettingKey
        </th>
        <th>
            SettingValue
        </th>
        <th>
            State
        </th>
        <th>
            Lang
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.StoreId
        </td>
        <td>
			@item.SettingKey
        </td>
        <td>
			@item.SettingValue
        </td>
        <td>
			@item.State
        </td>
        <td>
			@item.Lang
        </td>
    </tr>
}

</table>


