<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap")
    <link href="~/Content/default2.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        @Html.Action("MainMenu", "Home")
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @*    @RenderSection("featured", required: false)*@
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
        
        
<div id="wrapper-bg">
	<div id="wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#"><span>Endearing</span>Green</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="active"><a href="#" accesskey="1" title="">Homepage</a></li>
					<li><a href="#" accesskey="2" title="">Our Clients</a></li>
					<li><a href="#" accesskey="3" title="">About Us</a></li>
					<li><a href="#" accesskey="4" title="">Careers</a></li>
					<li><a href="#" accesskey="5" title="">Contact Us</a></li>
				</ul>
			</div>
		</div>
		<div id="banner" class="container"> <img src="images/header-photo.jpg" width="1200" height="400" alt="" /> </div>
		<div id="three-column" class="container">
			<header>
				<h2>Pellentesque tristique ante ut risus</h2>
			</header>
			<div class="tbox1">
				<div class="box-style box-style01">
					<div class="content"> <a href="#" class="image image-full"><img src="images/img01.jpg" alt=""></a>
						<h2>Fusce ultrices fringilla</h2>
						<p>Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. </p>
						<a href="#" class="button-style">Learn More</a> </div>
				</div>
			</div>
			<div class="tbox2">
				<div class="box-style box-style02">
					<div class="content"> <a href="#" class="image image-full"><img src="images/img02.jpg" alt=""></a>
						<h2>Mauris vulputate dolor</h2>
						<p>Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. </p>
						<a href="#" class="button-style">Learn More</a> </div>
				</div>
			</div>
			<div class="tbox3">
				<div class="box-style box-style03">
					<div class="content"> <a href="#" class="image image-full"><img src="images/img03.jpg" alt=""></a>
						<h2>Nulla luctus eleifend </h2>
						<p>Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh.</p>
						<a href="#" class="button-style">Learn More</a> </div>
				</div>
			</div>
		</div>
		<div id="page">
			<div id="content"></div>
			<div id="sidebar"></div>
		</div>
	</div>
	<div id="footer-content" class="container">
		<div id="fbox1">
			<h2>Recent Updates</h2>
			<ul class="style3">
				<li class="first">
					<p class="date"><a href="#">April<b>20</b></a></p>
					<h3>Amet sed volutpat mauris</h3>
					<p><a href="#">Mauris tempus nibh sodales adipiscing dolore.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">April<b>18</b></a></p>
					<h3>Sagittis diam dolor sit amet</h3>
					<p><a href="#">Duis arcu tortor fringilla sed  sed magna.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">April<b>15</b></a></p>
					<h3>Adipiscing sed consequat</h3>
					<p><a href="#">Pharetra ac velit sed in volutpat nisl mauris vel.</a></p>
				</li>
				<li>
			</ul>
		</div>
		<div id="fbox2">
			<h2>About</h2>
			<p>This is<strong> Endearing Green</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. This free template is released under the <a href="http://creativecommons.org/licenses/by/3/">Creative Commons Attribution</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)</p>
			<a href="#" class="button-style">Ipsum feugiat consequat</a> </div>
		<div id="fbox3">
			<h2>Contact</h2>
			<p>Nam erat a posuere laoreet eget nibh sodales adipiscing. Phasellus tristique dui.</p>
			<ul class="style5">
				<li class="first"><span class="address">Address</span> <span class="address-01">1234 Somewhere Road #4285 <br />
					Nashville, TN 00000</span> </li>
				<li> <span class="mail">Mail</span> <span class="mail-01"><a href="#">someone@untitled.tld</a></span> </li>
				<li> <span class="phone">Phone</span> <span class="phone-01">(000) 000-0000</span> </li>
			</ul>
		</div>
	</div>
</div>
<div id="footer">
	<p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
</div>
    </div>
     

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
