@model  StoreManagement.Data.RequestModel.VmDashboard
@{
    ViewBag.Title = "Dashboard";
}
@Styles.Render("~/Content/Vendors")


 
<div class="col-md-12">
    <div class="row">
        <div class="alert alert-success bootstrap-admin-alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Welcome To Admin Page <span class="text-primary">@User.Identity.Name  </span><span class="pull-right text-danger">@DateTime.Now.ToLongDateString()  &nbsp;&nbsp;   </span></h4>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Admin Panel</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <div class="bootstrap-admin-panel-content">
                    <div class="row bootstrap-admin-light-padding-bottom">
                        <div class="col-md-3">
                            <a href="/Documents" class="thumbnail">
                                <img src="~/Images/Dashboard/01.png" />
                                <strong>
                                    <p class="text-center"><span class="text-danger">Documents</span></p>
                                </strong>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/Products" class="thumbnail">
                                <img src="~/Images/Dashboard/02.png" />
                                <strong>
                                    <p class="text-center"><span class="text-danger">Products</span></p>
                                </strong>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="~/Images/Dashboard/03.png" />
                                <strong>
                                    <p class="text-center"><span class="text-danger">Portfolio  </span></p>
                                </strong>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/StoreUsers" class="thumbnail">
                                <img src="~/Images/Dashboard/04.png" />
                                <strong>
                                    <p class="text-center"><span class="text-danger">Users</span></p>
                                </strong>
                            </a>
                        </div>
                    </div>
                    <div class="row bootstrap-admin-light-padding-bottom">
                        <div class="col-md-3">
                            <a href="/FileManager" class="thumbnail">
                                <img src="~/Images/Dashboard/05.png" />
                                <strong>
                                    <p class="text-center"><span class="text-danger">Galeries</span></p>
                                </strong>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/News" class="thumbnail">
                                <img src="~/Images/Dashboard/06.png" />
                                <strong>
                                    <p class="text-center"><span class="text-danger">News</span></p>
                                </strong>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/Blogs" class="thumbnail">
                                <img src="~/Images/Dashboard/07.png" />
                                <strong>
                                    <p class="text-center"><span class="text-danger">Blogs</span></p>
                                </strong>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/Events" class="thumbnail">
                                <img src="~/Images/Dashboard/08.png" />
                                <strong>
                                    <p class="text-center"><span class="text-danger">Events</span></p>
                                </strong>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="bootstrap-admin-no-edges-padding">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">Users</div>
                        <div class="pull-right"><span class="badge">1,234</span></div>
                    </div>
                    <div class="bootstrap-admin-panel-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.Users)
                                {
                                    <tr>
                                        <td>@item.Item1</td>
                                        <td>@item.Item2</td>
                                        <td>@item.Item3</td>
                                        <td>@item.Item4</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">Orders</div>
                        <div class="pull-right"><span class="badge">752</span></div>
                    </div>
                    <div class="bootstrap-admin-panel-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.Orders)
                                {
                                    <tr>
                                        <td>@item.Item1</td>
                                        <td>@item.Item2</td>
                                        <td>@item.Item3</td>
                                        <td>@item.Item4</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="bootstrap-admin-no-edges-padding">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">Clients</div>
                        <div class="pull-right"><span class="badge">17</span></div>
                    </div>
                    <div class="bootstrap-admin-panel-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.Clients)
                                {
                                    <tr>
                                        <td>@item.Item1</td>
                                        <td>@item.Item2</td>
                                        <td>@item.Item3</td>
                                        <td>@item.Item4</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">Invoices</div>
                        <div class="pull-right"><span class="badge">812</span></div>
                    </div>
                    <div class="bootstrap-admin-panel-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.Invoices)
                                {
                                    <tr>
                                        <td>@item.Item1</td>
                                        <td>@item.Item2.ToShortDateString()</td>
                                        <td>$@item.Item3</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts
{
    @Scripts.Render("~/bundles/vendors")

    <script type="text/javascript">
        $(function () {
            // Easy pie charts
            $('.easyPieChart').easyPieChart({ animate: 1000 });
        });
    </script>
}
