{% extends "Master" %}






{% block title %}
Test Title           {{ model.store.Name }}

{% endblock %}




{% block content %}
<h2>
  
    {{ model.category.name }}
</h2>
<div class="row">
    <div class="col-md-3">
        <div class="well well-small">
            <ul class="nav nav-list">
 
                      {% for item in model.categories %}
           
              <li>
                        <span class="icon-chevron-right">
            <div>
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 </div>
                        </span>
                    </li>
                
        {% endfor %}


            </ul>
        </div>


        <div class="well well-small">
            <a href="#">
                <img src="assets/img/paypal.jpg" alt="payment method paypal"></a>
        </div>

        <a class="shopBtn btn-block" href="#">Upcoming products
            <br>
            <small>Click to view</small></a>
        <br>
        <br>
    </div>
    <div class="col-md-9">
        <!-- 
New Products
-->
        <div class="well well-small">
            <h3><strong> </strong> Products </h3>
            <div class="row">
                   {% for product in model.products %}
 
           
              <div class="col-md-3">

 
 <div>
     <a href='{{ product.detail_link }}'> {{ product.name }} </a> 
	 </div>

						</div>
                  {% endfor %}

                 
                  
                    <div class="pager">


                 


                    </div>

  


                     
  

            </div>

        </div>
    </div>
</div>

{% endblock %}