@model  StoreManagement.Data.Entities.Location

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.StoreId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.StoreId)
    @Html.ValidationMessageFor(model => model.StoreId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Address)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Address)
    @Html.ValidationMessageFor(model => model.Address)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.City)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.City)
    @Html.ValidationMessageFor(model => model.City)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LocationState)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LocationState)
    @Html.ValidationMessageFor(model => model.LocationState)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Postal)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Postal)
    @Html.ValidationMessageFor(model => model.Postal)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Country)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Country)
    @Html.ValidationMessageFor(model => model.Country)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Latitude)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Latitude)
    @Html.ValidationMessageFor(model => model.Latitude)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Longitude)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Longitude)
    @Html.ValidationMessageFor(model => model.Longitude)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Ordering)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Ordering)
    @Html.ValidationMessageFor(model => model.Ordering)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.State)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.State)
    @Html.ValidationMessageFor(model => model.State)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CreatedDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CreatedDate)
    @Html.ValidationMessageFor(model => model.CreatedDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.UpdatedDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.UpdatedDate)
    @Html.ValidationMessageFor(model => model.UpdatedDate)
</div>

