@model IEnumerable<MvcScallfoldingProject.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            StoreId
        </th>
        <th>
            Address
        </th>
        <th>
            City
        </th>
        <th>
            LocationState
        </th>
        <th>
            Postal
        </th>
        <th>
            Country
        </th>
        <th>
            Latitude
        </th>
        <th>
            Longitude
        </th>
        <th>
            Ordering
        </th>
        <th>
            State
        </th>
        <th>
            CreatedDate
        </th>
        <th>
            UpdatedDate
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.StoreId
        </td>
        <td>
			@item.Address
        </td>
        <td>
			@item.City
        </td>
        <td>
			@item.LocationState
        </td>
        <td>
			@item.Postal
        </td>
        <td>
			@item.Country
        </td>
        <td>
			@item.Latitude
        </td>
        <td>
			@item.Longitude
        </td>
        <td>
			@item.Ordering
        </td>
        <td>
			@item.State
        </td>
        <td>
			@String.Format("{0:g}", item.CreatedDate)
        </td>
        <td>
			@String.Format("{0:g}", item.UpdatedDate)
        </td>
    </tr>
}

</table>


