@using StoreManagement.Data.GeneralHelper
@model StoreManagement.Data.Entities.EmailList

@{
    ViewBag.Title = "Edit";
    var requestStoreId = @Request.QueryString["storeId"].ToInt();
    int storeId = Model != null ? Model.StoreId : requestStoreId;
}

<h2>Edit</h2>



<div class="col-md-12">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Labels</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <h2>Email List Management</h2>





                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                 

                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.UpdatedDate)
                        @Html.HiddenFor(model => model.UpdatedDate)
                        @Html.HiddenFor(model => model.CreatedDate)

                        <div class="editor-field controls">
                            @Html.Action("StoresDropDown", "Stores", new { storeId })
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.FirstName)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FirstName)
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.LastName)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LastName)
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.State)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.State)
                            @Html.ValidationMessageFor(model => model.State)
                        </div>



                        <div class="editor-label">
                            @Html.LabelFor(model => model.Ordering)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Ordering)
                            @Html.ValidationMessageFor(model => model.Ordering)
                        </div>


                        <p>
                            <input class="btn btn-success btn-block btn-lg" type="submit" value="Save" />
                        </p>

          
                }

                <div>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-lg btn-block" })

                </div>



            </div>
        </div>
    </div>



</div>

