@model StoreManagement.Data.Entities.Store

@{
    ViewBag.Title = "Delete";
}




@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Delete</div>
            </div>
            <div class="bootstrap-admin-panel-content">

                <h3>Are you sure you want to delete this?</h3>
                <fieldset>
                    <legend>Store</legend>

                    <div class="display-label">Name</div>
                    <div class="display-field">@Model.Name</div>

                    <div class="display-label">Domain</div>
                    <div class="display-field">@Model.Domain</div>

                    <div class="display-label">Layout</div>
                    <div class="display-field">@Model.Layout</div>
                </fieldset>
                @using (Html.BeginForm())
                {
                    <p>
                        <input type="submit" value="Delete" />
                        |
        @Html.ActionLink("Back to List", "Index")
                    </p>
                }






            </div>
        </div>
    </div>



</div>






