@model StoreManagement.Data.Entities.Store

@{
    ViewBag.Title = "Details";
}



@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">@Model.Name Details</div>
            </div>
            <div class="bootstrap-admin-panel-content">

                <div class="display-label">Name</div>
                <div class="display-field">@Model.Name</div>

                <div class="display-label">Domain</div>
                <div class="display-field">@Model.Domain</div>

                <div class="display-label">Layout</div>
                <div class="display-field">@Model.Layout</div>
                <p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id },new{@class="btn btn-primary btn-lg btn-block"}) |
                                        @Html.ActionLink("Back to List", "Index",null,new{@class="btn btn-default btn-lg btn-block"})
                </p>


            </div>
        </div>
    </div>



</div>







