@model List<StoreManagement.Data.Entities.Store>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Alerts</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <h4>Store Management</h4>
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table table-hover table-bordered table-striped">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Name
                        </th>
                        <th>Domain
                        </th>
                        <th>Layout
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" }) |
               @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                            </td>
                            <td>
                                @Html.ActionLink("Users", "Users", new { id = item.Id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Settings", "TestSetting", "Settings", new { id = item.Id }, new { @class = "btn btn-info" })
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Domain
                            </td>
                            <td>
                                @item.Layout
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>



</div>
