@model StoreManagement.Data.Entities.Store

@{
    ViewBag.Title = "Edit";
}




<div class="col-md-12">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Create New Stores</div>
            </div>
            <div class="bootstrap-admin-panel-content">

                @using (Html.BeginForm())
                {
                    
                 
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Create Store</legend>
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.CategoryId)




                        <div class="editor-label">
                            @Html.LabelFor(model => model.Name)

                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Domain)

                            @Html.TextBoxFor(model => model.Domain, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Domain)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Layout)

                            @Html.TextBoxFor(model => model.Layout, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Layout)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.GoogleDriveClientId)

                            @Html.TextBoxFor(model => model.GoogleDriveClientId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GoogleDriveClientId)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.GoogleDriveServiceAccountEmail)

                            @Html.TextBoxFor(model => model.GoogleDriveServiceAccountEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GoogleDriveServiceAccountEmail)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.GoogleDriveUserEmail)

                            @Html.TextBoxFor(model => model.GoogleDriveUserEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GoogleDriveUserEmail)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.GoogleDrivePassword)

                            @Html.PasswordFor(model => model.GoogleDrivePassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GoogleDrivePassword)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.GoogleDriveFolder)

                            @Html.TextBoxFor(model => model.GoogleDriveFolder, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GoogleDriveFolder)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.GoogleDriveCertificateP12FileName)

                            @Html.TextBoxFor(model => model.GoogleDriveCertificateP12FileName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GoogleDriveCertificateP12FileName)
                        </div>

                        <p>
                            <input class="btn btn-success btn-block btn-lg" type="submit" value="Save" />
                        </p>
                    </fieldset>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-lg btn-block" })
                </div>


            </div>
        </div>
    </div>



</div>






