@model StoreManagement.Data.Entities.Store

@{
    ViewBag.Title = "Edit";
}




<div class="col-md-12">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Create New Stores</div>
            </div>
            <div class="bootstrap-admin-panel-content">

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Store</legend>

                        @Html.HiddenFor(model => model.Id)
                                    @Html.HiddenFor(model => model.CategoryId)
)
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Name)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Domain)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Domain)
                            @Html.ValidationMessageFor(model => model.Domain)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Layout)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Layout)
                            @Html.ValidationMessageFor(model => model.Layout)
                        </div>



                        <p>
                             <input  class="btn btn-success btn-block btn-lg" type="submit" value="Save" />
                        </p>
                    </fieldset>
                }

                <div>
                                        @Html.ActionLink("Back to List", "Index",null,new{@class="btn btn-default btn-lg btn-block"})
                </div>


            </div>
        </div>
    </div>



</div>






