@{
    ViewBag.Title = "Forgot Password";
}

<h2>Recover Password</h2>

@Html.Partial("pForgotPassword")

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Forgot Password Form</legend>
        <ol>
            <li>
                @Html.Label("Email", new { @for = "UserName" })
                @Html.TextBox("UserName")
                <span style="color:red;">@Html.Raw(TempData["Message"])</span>
            </li>
        </ol>
        <input type="submit" value="Recover" />
    </fieldset>
}*@

