@model StoreManagement.Data.Entities.LoginModel


@{
    ViewBag.Title = "Log in";
}
<div>

    <section id="loginForm">

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Management Panel</legend>

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <img width="120" height="70" src="@Url.Action("GetCaptcha", "Images", new { prefix = "StoreLogin" })" alt="Captcha"/>
                        </div>
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Captcha)
                            @Html.TextBoxFor(model => model.Captcha, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Captcha)
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="OurMessage">  Do Not Enter, Authorized Personnel Only  </label>
                </div>
                <div class="form-group">
                    <label for="YourLoginDate">Your Login Date : @DateTime.Now.ToLongDateString()</label>
                </div>
                <div class="form-group">
                    <label for="YourIP">Your IP : @Request.UserHostAddress</label>
                </div>

                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Log in" />
            </fieldset>
    
        }
    </section>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
