@model StoreManagement.Data.Entities.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

 
<div class="col-md-12">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">@ViewBag.Title</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <div class="bootstrap-admin-panel-content">
                    <p class="message-success">@ViewBag.StatusMessage</p>

                    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    { 
                        @Html.Partial("_SetPasswordPartial")
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

