@model  StoreManagement.Data.Entities.LocalPasswordModel
@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

@TempData["Message"]

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    <input name="un" value ="@(ViewBag.UserName)" style="display:none;"/>
    <input name="rt" value ="@(ViewBag.ChangePassToken)" style="display:none;"/>
    <input name="OldPassword" value ="@(ViewBag.OldPassword)" style="display:none;"/>

    @Html.ValidationSummary()
    
    <div class="form-group">
        <label for="GeneratedPassword">New auto generated password</label>
        <b>@(ViewBag.OldPassword) </b>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    
    <span style="color: red;">@Html.Raw(ViewBag.StatusMessage)</span>
    <input class="btn btn-success btn-block" type="submit" value="Change password" />
 
}

 