@model  StoreManagement.Data.Entities.LocalPasswordModel
@{
    ViewBag.Title = "ResetPassword";
}
<div class="rcorners2">
<h2>Reset Password</h2>



@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{

    <h3>
        @(ViewBag.UserName)
    </h3>
    <input name="un" value ="@(ViewBag.UserName)" style="display:none;"/>
    <input name="rt" value ="@(ViewBag.ChangePassToken)" style="display:none;"/>
    <input name="OldPassword" value ="@(ViewBag.OldPassword)" style="display:none;"/>

    @Html.ValidationSummary()

    <div class="form-group">
        <label for="GeneratedPassword">@TempData["Message"]</label>
    </div>
     <div class="form-group">
        @Html.LabelFor(m => m.OldPassword)
           <strong class="text text-danger">
            <b>@(ViewBag.OldPassword) </b>
        </strong>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    
    <span style="color: red;">@Html.Raw(ViewBag.StatusMessage)</span>
    <input class="btn btn-success btn-block" type="submit" value="Change password" />
 
}
</div>
 