@model  StoreManagement.Data.Entities.LocalPasswordModel
@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

 
 @TempData["Message"]

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))

{
    <input name="un" value ="@(ViewBag.UserName)" style="display:none;"/>
    <input name="rt" value ="@(ViewBag.ChangePassToken)" style="display:none;"/>
        <input name="OldPassword" value ="@(ViewBag.OldPassword)" style="display:none;"/>

    @Html.ValidationSummary()
    
    <fieldset>
        <legend>Reset Password Form</legend>
        <ol>
            <li>
                <label for="GeneratedPassword">New auto generated password</label>
                <b> @(ViewBag.OldPassword) </b>
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <span style="color:red;">@Html.Raw(ViewBag.StatusMessage)</span>
        <input type="submit" value="Save and Login" class="btn" />
    </fieldset>
}