@model StoreManagement.Data.Entities.Navigation

@{
    ViewBag.Title = "Delete";
}


@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Alerts</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                
 



<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Navigation</legend>

    <div class="display-label">StoreId</div>
    <div class="display-field">@Model.StoreId</div>

    <div class="display-label">ParentId</div>
    <div class="display-field">@Model.ParentId</div>

    <div class="display-label">Static</div>
    <div class="display-field">@Model.Static</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Ordering</div>
    <div class="display-field">@Model.Ordering</div>


    <div class="display-label">Link</div>
    <div class="display-field">@Model.Link</div>

    <div class="display-label">LinkState</div>
    <div class="display-field">@Model.LinkState</div>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreatedDate)</div>


    <div class="display-label">State</div>
    <div class="display-field">@Model.State</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
         <input  class="btn btn-danger btn-block btn-lg" type="submit" value="Delete" /> |
                            @Html.ActionLink("Back to List", "Index",null,new{@class="btn btn-default btn-lg btn-block"})
    </p>
}



 
                 
            </div>
        </div>
    </div>



</div>



