@model StoreManagement.Data.Entities.Navigation

@{
    ViewBag.Title = "Details";
}

 
<div class="col-md-12">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Alerts</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                


<h2>Details</h2>
 
@{ 
    @Html.HiddenFor(model => model.Id)  
    @Html.HiddenFor(model => model.StoreId)  
    @Html.HiddenFor(model => model.ParentId)  
    if (!String.IsNullOrEmpty(Model.Name))
    { 
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    }
    
    if (!String.IsNullOrEmpty(Model.ControllerName))
    { 
    <div class="display-label">
        @Html.DisplayNameFor(model => model.ControllerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ControllerName)
    </div>
    } 
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Static)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Static)
    </div>
    @Html.HiddenFor(model => model.Ordering)  
    if (!String.IsNullOrEmpty(Model.Link))
    { 
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>
    } 
    <div class="display-label">
        @Html.DisplayNameFor(model => model.LinkState)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinkState)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>
}
                <p>
    @Html.ActionLink("Edit", "SaveOrEdit", new { id=Model.Id },new{@class="btn btn-success btn-lg btn-block"})
                        @Html.ActionLink("Back to List", "Index",null,new{@class="btn btn-default btn-lg btn-block"})
</p>


 
                 
            </div>
        </div>
    </div>



</div>




