@using GridMvc.Html
@using StoreManagement.Data.Entities
@model List<StoreManagement.Data.Entities.Navigation>

@{
    ViewBag.Title = "Index";
   
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @Html.Action("StoresFilter", "Stores", new { actionName = "Index", controllerName = "Navigations" })
</div>

@Html.Grid(Model).Named("navigationGrid").Columns(columns =>
    {
        /* Adding not mapped column, that renders body, using inline Razor html helper */
        columns.Add()
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(30)
                .RenderValueAs(d =>
                    @<b>
                        @Html.ActionLink("Edit", "Edit", new { id = d.Id })
                    </b>);
        columns.Add()
                   .Encoded(false)
                   .Sanitized(false)
                   .SetWidth(30)
                   .RenderValueAs(d =>
                       @<b>
                        @Html.ActionLink("Delete", "Delete", new { id = d.Id })
                    </b>);
        columns.Add(o => o.Id, false);
        columns.Add(foo => foo.Name).Titled("Custom column title").SetWidth(110);
        columns.Add(foo => foo.ActionName).Filterable(true).Sortable(true);
        columns.Add(foo => foo.ControllerName).Filterable(true).Sortable(true);
        columns.Add(foo => foo.State).Filterable(true).Sortable(true);
    }).SetRowCssClasses(item => item.Id % 2 == 0 ? "warning" : string.Empty).WithPaging(15).Sortable().Filterable().WithMultipleFilters()



