@model IEnumerable<StoreManagement.Data.Entities.Navigation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-bordered table-striped">
    <tr>
        <th></th>
      
        <th>
            ParentId
        </th>
        <th>
            Static
        </th>
        <th>
            Name
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            ImagePath
        </th>
        <th>
            Ordering
        </th>
        <th>
            ImageState
        </th>
        <th>
            Lang
        </th>
        <th>
            Link
        </th>
        <th>
            LinkState
        </th>
        <th>
            CreatedDate
        </th>
        <th>
            PageMetaKeys
        </th>
        <th>
            IsController
        </th>
        <th>
            IsAction
        </th>
        <th>
            IsMainMenu
        </th>
        <th>
            State
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        
        <td>
			@item.ParentId
        </td>
        <td>
			@item.Static
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@item.ImagePath
        </td>
        <td>
			@item.Ordering
        </td>
        <td>
			@item.ImageState
        </td>
        <td>
			@item.Lang
        </td>
        <td>
			@item.Link
        </td>
        <td>
			@item.LinkState
        </td>
        <td>
			@String.Format("{0:g}", item.CreatedDate)
        </td>
        <td>
			@item.PageMetaKeys
        </td>
        <td>
			@item.IsController
        </td>
        <td>
			@item.IsAction
        </td>
        <td>
			@item.IsMainMenu
        </td>
        <td>
			@item.State
        </td>
    </tr>
}

</table>


