@model StoreManagement.Data.Entities.Label

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Label</legend>

        @Html.HiddenFor(model => model.Id)

<div class="editor-label">
    @Html.LabelFor(model => model.StoreId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.StoreId)
    @Html.ValidationMessageFor(model => model.StoreId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CategoryId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CategoryId)
    @Html.ValidationMessageFor(model => model.CategoryId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ItemType)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ItemType)
    @Html.ValidationMessageFor(model => model.ItemType)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.UpdatedDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.UpdatedDate)
    @Html.ValidationMessageFor(model => model.UpdatedDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CreatedDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CreatedDate)
    @Html.ValidationMessageFor(model => model.CreatedDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Ordering)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Ordering)
    @Html.ValidationMessageFor(model => model.Ordering)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.State)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.State)
    @Html.ValidationMessageFor(model => model.State)
</div>


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
