
<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta charset="utf-8" />
        <meta name="keywords" content="@ViewData["MetaKeywords"]" />
        <meta name="description" content="@ViewData["MetaDescription"]" />
        <meta content="en" http-equiv="content-language" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="msvalidate.01" content="AF4AB2D14FCF11B55A944D4E1C29BF5C" />
        <title>@ViewBag.Title

        </title>



   
          @Html.Partial("CssFiles")
    </head>
    
<body>


    
 
        @RenderBody()
 





 
     @Html.Partial("JavascriptFiles")
    <script src="~/Scripts/storeManagement.js"></script>
    <script src="~/Scripts/storeHelper.js"></script>
  
</body>

</html>
