<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @* <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <link href="~/Content/trizzy/style.css" rel="stylesheet" />
    <link href="~/Content/trizzy/colors/green.css" rel="stylesheet" />
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">



        <!-- Top Bar
================================================== -->
        <div id="top-bar">
            <div class="container">

                <!-- Top Bar Menu -->
                <div class="ten columns">
                    <ul class="top-bar-menu">
                        <li><i class="fa fa-phone"></i>(564) 123 4567</li>
                        <li><i class="fa fa-envelope"></i><a href="#">mail@example.com</a></li>
                        <li>
                            <div class="top-bar-dropdown">
                                <span>English</span>
                                <ul class="options">
                                    <li>
                                        <div class="arrow"></div>
                                    </li>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Polish</a></li>
                                    <li><a href="#">Deutsch</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="top-bar-dropdown">
                                <span>USD</span>
                                <ul class="options">
                                    <li>
                                        <div class="arrow"></div>
                                    </li>
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">PLN</a></li>
                                    <li><a href="#">EUR</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Social Icons -->
                <div class="six columns">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                        <li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>


        <!-- Header
================================================== -->
        <div class="container">


            <!-- Logo -->
            <div class="four columns">
                <div id="logo">
                    <h1><a href="index.html">
                        <img src="~/Images/logo.png" alt="Trizzy" /></a></h1>
                </div>
            </div>


            <!-- Additional Menu -->
            <div class="twelve columns">
                <div id="additional-menu">
                    <ul>
                        <li><a href="shopping-cart.html">Shopping Cart</a></li>
                        <li><a href="wishlist.html">WishList <span>(2)</span></a></li>
                        <li><a href="checkout-billing-details.html">Checkout</a></li>
                        <li><a href="my-account.html">My Account</a></li>
                    </ul>
                </div>
            </div>


            <!-- Shopping Cart -->
            <div class="twelve columns">

                <div id="cart">

                    <!-- Button -->
                    <div class="cart-btn">
                        <a href="#" class="button adc">$178.00</a>
                    </div>

                    <div class="cart-list">

                        <div class="arrow"></div>

                        <div class="cart-amount">
                            <span>2 items in the shopping cart</span>
                        </div>

                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/Images/small_product_list_08.jpg" alt="" /></a>
                                <a href="#">Converse All Star Trainers</a>
                                <span>1 x $79.00</span>
                                <div class="clearfix"></div>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="~/Images/small_product_list_09.jpg" alt="" /></a>
                                <a href="#">Tommy Hilfiger
                                <br />
                                    Shirt Beat</a>
                                <span>1 x $99.00</span>
                                <div class="clearfix"></div>
                            </li>
                        </ul>

                        <div class="cart-buttons button">
                            <a href="shopping-cart.html" class="view-cart"><span data-hover="View Cart"><span>View Cart</span></span></a>
                            <a href="checkout-billing-details.html" class="checkout"><span data-hover="Checkout">Checkout</span></a>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>

                </div>

                <!-- Search -->
                <nav class="top-search">
                    <form action="#" method="get">
                        <button><i class="fa fa-search"></i></button>
                        <input class="search-field" type="text" placeholder="Search" value="" />
                    </form>
                </nav>

            </div>

        </div>




        <!-- Navigation
================================================== -->


        <div class="container">
            <div class="sixteen columns">

                <a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i>Menu</a>

                <nav id="navigation">
                    <ul class="menu" id="responsive">

                        <li>
                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "current homepage" })
                        </li>

                        <li class="dropdown">
                            <a href="#">Shop</a>
                            <ul>
                                <li><a href="shop-with-sidebar.html">



                                    @Html.ActionLink("Shop With Sidebar", "Index", "Products")
                                </a></li>
                                <li>

                                    @Html.ActionLink("Shop Full Width", "Index2", "Products")

                                </li>
                                <li>

                                    @Html.ActionLink("Checkout Pages", "Index", "Shopping")
                                </li>
                                <li>
                                    @*   <a href="shop-categories-grid.html">Categories Grid</a>*@
                                    @Html.ActionLink("Categories", "Index", "Categories")
                                </li>
                                <li>
                                    @Html.ActionLink("Single Product Page", "Product", "Products")
                                </li>
                                <li>
                                    @Html.ActionLink("Variable Product Page", "Product2", "Products")
                                </li>
                                <li><a href="wishlist.html">Wishlist Page</a></li>
                                <li>
                                    @Html.ActionLink("Shopping Cart", "Index", "Shopping")
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="#">Features</a>
                            <div class="mega">
                                <div class="mega-container">

                                    <div class="one-column">
                                        <ul>
                                            <li><span class="mega-headline">Example Pages</span></li>
                                            <li>
                                                @Html.ActionLink("Contact", "Contact", "Home", null, new { })
                                            </li>
                                            <li><a href="about.html">
                                                @Html.ActionLink("About Us", "About", "Home", null, new { })
                                            </a></li>
                                            <li>
                                                @Html.ActionLink("Services", "Services", "Home", null, new { })
                                            </li>
                                            <li>
                                                @Html.ActionLink("FAQ", "FAQ", "Home", null, new { })
                                            </li>
                                            <li><a href="404-page.html">404 Page</a></li>
                                        </ul>
                                    </div>

                                    <div class="one-column">
                                        <ul>
                                            <li>
                                                <span class="mega-headline">Featured Pages</span>

                                            </li>
                                            <li>
                                                <a href="index-2.html">Business Homepage</a>

                                            </li>
                                            <li>
                                                <a href="shop-with-sidebar.html">Default Shop</a>

                                            </li>
                                            <li>


                                                @Html.ActionLink("Masonry Blog", "Index", "Blogs", null, new { })


                                            </li>
                                            <li>
                                                <a href="variable-product-page.html">Variable Product</a>

                                            </li>
                                            <li>

                                                <a href="portfolio-dynamic-grid.html">Dynamic Grid</a>


                                            </li>
                                        </ul>
                                    </div>

                                    <div class="one-column hidden-on-mobile">
                                        <ul>
                                            <li><span class="mega-headline">Paragraph</span></li>
                                            <li>
                                                <p>This <a href="#">Mega Menu</a> can handle everything. Lists, paragraphs, forms...</p>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="one-fourth-column hidden-on-mobile">
                                        <a href="#" class="img-caption margin-reset">
                                            <figure>
                                                <img src="~/Images/menu-banner-01.jpg" alt="" />
                                                <figcaption>
                                                    <h3>Jeans</h3>
                                                    <span>Pack for Style</span>
                                                </figcaption>
                                            </figure>
                                        </a>
                                    </div>

                                    <div class="one-fourth-column hidden-on-mobile">
                                        <a href="#" class="img-caption margin-reset">
                                            <figure>
                                                <img src="~/Images/menu-banner-02.jpg" alt="" />
                                                <figcaption>
                                                    <h3>Sunglasses</h3>
                                                    <span>Nail the Basics</span>
                                                </figcaption>
                                            </figure>
                                        </a>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </li>


                        <li class="dropdown">
                            <a href="#">Shortcodes</a>
                            <ul>
                                <li><a href="elements.html">Elements</a></li>
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="pricing-tables.html">Pricing Tables</a></li>
                                <li><a href="icons.html">Icons</a></li>
                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#">Portfolio</a>
                            <ul>
                                <li><a href="portfolio-3-columns.html">3 Columns</a></li>
                                <li><a href="portfolio-4-columns.html">4 Columns</a></li>
                                <li><a href="portfolio-dynamic-grid.html">Dynamic Grid</a></li>
                                <li><a href="single-project.html">Single Project</a></li>
                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#">Blog</a>
                            <ul>
                                <li>
                                    @Html.ActionLink("Blog Standard", "Index2", "Blogs", null, new { })
                                </li>
                                <li>
                                    @Html.ActionLink("Masonry Blog", "Index", "Blogs", null, new { })
                                </li>
                                <li>
                                    @Html.ActionLink("Single Blog", "Blog", "Blogs", null, new { })
                                </li>
                            </ul>
                        </li>


                        <li class="demo-button">
                            <a href="#">Get This Theme</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>


            <!-- Footer
================================================== -->
            <div id="footer">

                <!-- Container -->
                <div class="container">

                    <div class="four columns">
                        <img src="~/Images/logo-footer.png" alt="" class="margin-top-10" />
                        <p class="margin-top-15">Nulla facilisis feugiat magna, ut molestie metus hendrerit vitae. Vivamus tristique lectus at varius rutrum. Integer lobortis mauris non consectetur eleifend.</p>
                    </div>

                    <div class="four columns">

                        <!-- Headline -->
                        <h3 class="headline footer">Customer Service</h3>
                        <span class="line"></span>
                        <div class="clearfix"></div>

                        <ul class="footer-links">
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivery & Returns</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>

                    </div>

                    <div class="four columns">

                        <!-- Headline -->
                        <h3 class="headline footer">My Account</h3>
                        <span class="line"></span>
                        <div class="clearfix"></div>

                        <ul class="footer-links">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Wish List</a></li>
                        </ul>

                    </div>

                    <div class="four columns">

                        <!-- Headline -->
                        <h3 class="headline footer">Newsletter</h3>
                        <span class="line"></span>
                        <div class="clearfix"></div>
                        <p>Sign up to receive email updates on new product announcements, gift ideas, special promotions, sales and more.</p>

                        <form action="#" method="get">
                            <button class="newsletter-btn" type="submit">Join</button>
                            <input class="newsletter" type="text" placeholder="mail@example.com" value="" />
                        </form>
                    </div>

                </div>
                <!-- Container / End -->

            </div>
            <!-- Footer / End -->

            <!-- Footer Bottom / Start -->
            <div id="footer-bottom">

                <!-- Container -->
                <div class="container">

                    <div class="eight columns">© Copyright 2014 by <a href="#">trizzy</a>. All Rights Reserved.</div>
                    <div class="eight columns">
                        <ul class="payment-icons">
                            <li>
                                <img src="~/Images/visa.png" alt="" /></li>
                            <li>

                                <img src="~/Images/mastercard.png" alt="" /></li>
                            <li>
                                <img src="~/Images/skrill.png" alt="" /></li>
                            <li>
                                <img src="~/Images/moneybookers.png" alt="" /></li>
                            <li>
                                <img src="~/Images/paypal.png" alt="" /></li>
                        </ul>
                    </div>

                </div>
                <!-- Container / End -->

            </div>
            <!-- Footer Bottom / End -->

            <!-- Back To Top Button -->
            <div id="backtotop"><a href="#"></a></div>

        </footer>
    </div>

    @*    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@


    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/Trizzy/jquery.jpanelmenu.js"></script>
    <script src="~/Scripts/Trizzy/jquery.themepunch.plugins.min.js"></script>
    <script src="~/Scripts/Trizzy/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/Trizzy/jquery.themepunch.showbizpro.min.js"></script>
    <script src="~/Scripts/Trizzy/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/Trizzy/hoverIntent.js"></script>
    <script src="~/Scripts/Trizzy/superfish.js"></script>
    <script src="~/Scripts/Trizzy/jquery.pureparallax.js"></script>
    <script src="~/Scripts/Trizzy/jquery.pricefilter.js"></script>
    <script src="~/Scripts/Trizzy/jquery.selectric.min.js"></script>
    <script src="~/Scripts/Trizzy/jquery.royalslider.min.js"></script>
    <script src="~/Scripts/Trizzy/SelectBox.js"></script>
    <script src="~/Scripts/Trizzy/modernizr.custom.js"></script>
    <script src="~/Scripts/Trizzy/waypoints.min.js"></script>
    <script src="~/Scripts/Trizzy/jquery.flexslider-min.js"></script>
    <script src="~/Scripts/Trizzy/jquery.counterup.min.js"></script>
    <script src="~/Scripts/Trizzy/jquery.tooltips.min.js"></script>
    <script src="~/Scripts/Trizzy/jquery.isotope.min.js"></script>
    <script src="~/Scripts/Trizzy/puregrid.js"></script>
    <script src="~/Scripts/Trizzy/stacktable.js"></script>
    <script src="~/Scripts/Trizzy/custom.js"></script>
    <script src="~/Scripts/storeManagement.js"></script>
    <script src="~/Scripts/storeHelper.js"></script>

</body>
</html>
