{% extends "Master" %}


 
 {% block title %}
 {{ model.category.name }} Products
 
 {% endblock %}  
 
 
 
 {% block content %} 
 <p>
 categories

 
                {% for item in model.categories %}
 
 
  
 <div>
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 </div>

{% endfor %}

 </p>

  <p>
 contents

 
    {% for item in model.contents %}
 
  
 <div>
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 </div>


{% endfor %}

 </p>

  {% endblock %}  