@model StoreManagement.Data.HelpersModel.RecordsStats
 
@using StoreManagement.Data.GeneralHelper
 
@{if (Model != null)
  {

    
      <div class="panel panel-default" style="margin-top: 20px">
          <div class="panel-body" style="padding: 5px">
              
              @{
                  <h4 style="margin-top: 0">Refine Search</h4>
                  <div><b>Found:</b> @Model.RecordsTotal</div>
                  
                  var filters = FilterHelper.GetNavigationFilters(this.ViewContext);

                  <ul class="list-group">
                      @foreach (var filter in filters)
                      {  
                          <li class="list-group-item" style="padding: 5px">
                              <span>
                                  @filter.Text 
                                  <a href="@FilterHelper.LinkExclude(filter,this.Request, this.ViewContext, Model.OwnerType)" rel="nofollow">
                                      <span class="glyphicon glyphicon-remove-circle text-danger"></span>
                                  </a>  
                              </span>
                          </li>                    
                      }
                  </ul>
                  
                  
                  if (!string.IsNullOrEmpty(this.Request.QueryString["search"]))
                  {                      
                      <span>
                          <strong>Search term:</strong> @this.Request.QueryString["search"] 
                      </span>
                  }
    
              }

        

              @{if (filters.Any() || !string.IsNullOrEmpty(this.Request.QueryString["search"]))
                {
                    <br/> 
                    <a class="btn btn-danger btn-xs" 
                       href="@Url.Action(Model.OwnerType.SearchAction, Model.OwnerType.Controller, 
                                         new { filters = "", search = "", page = "" })">
                        
                        <span class="glyphicon glyphicon-remove-sign"></span> 
                        Clear all filters

                    </a>
                }
              }
          </div>
      </div>    
    
  }
}