@model StoreManagement.Data.RequestModel.CompanySearchResult

@{
    ViewBag.Title = "Companies ";
}

<h2>Companies </h2>
 
<div class="row">
    <div class="col-md-12">
        @Html.Partial("pSearchForm")
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div>
            <h4>Refine Search</h4>
            @Html.DisplayFor(m => Model.Stats)
            @Html.Partial("pFiltersGroups", Model.FiltersGroups)
        </div>
    </div>
    <div class="col-md-12">
        @{
            foreach (var s in Model.Companies)
            {
                @Html.DisplayFor(item => s)
            }
        }
        @Html.Partial("pPager", Model.Stats)
        @Html.Partial("Pager", Model.Stats)
    </div>
</div>
