{% extends "Master" %}


 
 {% block title %}
 News  {{ model.store_liquid.name }}
 
 {% endblock %}  
 

 {% block content %} 
 <p>
  

 
                {% for item in model.category_liquids %}
 
 <div>
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 </div>
	 
	 <br>

{% endfor %}
<div>

 {% for item in model.category_liquids %}
 
 <div>
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 </div>
	 
	 	 <br>


{% endfor %}
</div>

 </p>
  {% endblock %}  