<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Html.Partial("pLayoutStyle")
    @Html.Partial("pLayoutFileUploadContent")

</head>
<body class="bootstrap-admin-with-small-navbar">
    @Html.Partial("pLayoutBody")
    <div class="container">
        @RenderSection("featured", required: false)
        <div class="row">
            @RenderBody()
        </div>
        <div class="row">
            @Html.Partial("pLayoutFooter")
        </div>
    </div>
</body>
@RenderSection("scripts", required: false)
</html>
