<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Html.Partial("pLayoutStyle")
</head>
<body class="bootstrap-admin-with-small-navbar">
    @Html.Partial("pLayoutBody")
    <div class="container">
 
        <div class="row">
            @RenderBody()
        </div>
       
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
@Html.Partial("pLayoutScript")
@RenderSection("scripts", required: false)
</html>
