@using StoreManagement.Data
@{
    var isDevelopmentStatus = ProjectAppSettings.GetWebConfigBool("IsDevelopmentStatus", true);
    bool isSuperAdmin = User.Identity.IsAuthenticated && Roles.GetRolesForUser(User.Identity.Name).Contains("SuperAdmin");
}
<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        @Html.MenuItem("Dashboard", "Index", "Dashboard")
        @if (isSuperAdmin)
        {
            @Html.MenuItem("Stores", "Index", "Stores")
        }
        @Html.MenuItem("Navigation", "Index", "Navigations")
        @Html.MenuItem("Files Manager", "Index", "FileManager")
        @Html.MenuItem("Categories", "Index", "Categories")
        @Html.MenuItem("Products", "Index", "Products")
        @Html.MenuItem("Blogs", "Index", "Blogs")
         
             @Html.MenuItem("Settings", "Index", "Settings")
        

        @if (isDevelopmentStatus)
        {
            @Html.MenuItem("About", "Index", "Home")
            @Html.MenuItem("DatePickers", "Index", "Calendar")
            @Html.MenuItem("Statistics (Charts)", "Index", "Statistics")
            @Html.MenuItem("Forms", "Index", "Forms")
            @Html.MenuItem("Tables", "Index", "Tables")
            @Html.MenuItem("Buttons &amp; Icons", "Index", "Buttons")
            @Html.MenuItem(" WYSIWYG Editors", "Index", "Editors")
            @Html.MenuItem(" UI &amp; Interface", "Index", "Interface")

            <li>
                <a href="#"><span class="badge pull-right">731</span> Orders</a>
            </li>
            <li>
                <a href="#"><span class="badge pull-right">812</span> Invoices</a>
            </li>
            <li>
                <a href="#"><span class="badge pull-right">27</span> Clients</a>
            </li>
            <li>
                <a href="#"><span class="badge pull-right">1,234</span> Users</a>
            </li>
            <li>
                <a href="#"><span class="badge pull-right">2,221</span> Messages</a>
            </li>
            <li>
                <a href="#"><span class="badge pull-right">11</span> Reports</a>
            </li>
            <li>
                <a href="#"><span class="badge pull-right">83</span> Errors</a>
            </li>
            <li>
                <a href="#"><span class="badge pull-right">4,231</span> Logs</a>
            </li>
            
        }

    </ul>
</div>

