@using StoreManagement.Data.Constants;
@using StoreManagement.Data
@{
     bool isSuperAdmin = false;

    try
    {
        isSuperAdmin = User.Identity.IsAuthenticated && Roles.GetRolesForUser(User.Identity.Name).Contains("SuperAdmin");
    }
    catch (Exception ex)
    {

    }

    var isRegularUser = User.IsInRole(StoreConstants.RoleUser);
}

<nav class="navbar navbar-custom">
    <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                @Html.MenuItem("Dashboard", "Index", "Dashboard")
                @if (isSuperAdmin)
                {
                    <li role="separator" class="divider-vertical"></li>
                    @Html.MenuItem("Stores", "Index", "Stores")
                }
                <li role="separator" class="divider-vertical"></li>
                @Html.MenuItem("Navigation", "Index", "Navigations")
                <li role="separator" class="divider-vertical"></li>
                @Html.MenuItem("Files Manager", "Index", "FileManager")
                <li role="separator" class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu pull-left">
                        @Html.MenuItem("Products Categories", "Index", "ProductCategories")
                        @Html.MenuItem("Products Labels", "Index", "ProductsLabels")
                    </ul>
                </li>
                @Html.MenuItem("Products", "Index", "Products")
                <li role="separator" class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu pull-left">
                        @Html.MenuItem("News Categories", "Index", "NewsCategories")
                        @Html.MenuItem("News Labels", "Index", "NewsLabels")
                    </ul>
                </li>

                @Html.MenuItem("News", "Index", "News")
                <li role="separator" class="divider-vertical"></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu pull-left">
                        @Html.MenuItem("Blogs Categories", "Index", "BlogsCategories")
                        @Html.MenuItem("Blogs Labels", "Index", "BlogLabels")
                    </ul>
                </li>
                @Html.MenuItem("Blogs", "Index", "Blogs")
                <li role="separator" class="divider-vertical"></li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu pull-left">
                        @Html.MenuItem("Users", "Index", "StoreUsers")
                        @Html.MenuItem("Email List", "Index", "EmailLists")
                    </ul>
                </li>
                @Html.MenuItem("Settings", "Index", "Settings")
                <li role="separator" class="divider-vertical"></li>
            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
