@using StoreManagement.Data.Entities
@{
   
 
    
}

@if (Request.IsAuthenticated)
{
    <!-- main / large navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">


                        @Html.Action("StoreName", "Home")


                    </a>
                </div>
                <div class="collapse navbar-collapse main-navbar-collapse">
                    <div class="collapse navbar-collapse bootstrap-admin-navbar-sm">
                        <ul class="nav navbar-nav navbar-right ">

                            @Html.Action("ReturnFrontEndUrl", "Home")

                            @Html.Partial("_LoginPartial")
                            
                        @Html.Action("StoreSearch", "Home")
                          
                        </ul>


                    </div>
                </div>
            </div>

            <div class="row">
                @Html.Partial("_LeftMenu")
            </div>
        </div>
    </nav>
    <br />    <br />

}

  <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete Nomination</h4>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete this nomination?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="MyDeleteSubmit" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
