@using StoreManagement.Data.GeneralHelper

@{

    string action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToStr();
    string controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToStr();
    string search = @Request.QueryString["search"].ToStr();
    string storeId = @Request.QueryString["storeId"].ToStr();
    int selectedCategoryId = @Request.QueryString["categoryId"].ToInt();
}

@using (Html.BeginForm(action, controller, FormMethod.Get))
{
    <input type="hidden" name="storeId"  value="@storeId" />
    <input type="hidden" name="categoryId"  value="@selectedCategoryId" />
    <div class="row">
        <div class="col-md-7 col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="search" value="@search"/>
            </div>
        </div>
        @if (!String.IsNullOrEmpty(search))
        {
            <div class="col-md-3 col-xs-4">
                <button type="submit" class="btn btn-primary btn-block glyphicon glyphicon-search">Search</button>
            </div>
            <div class="col-md-2 col-xs-2">
                @Html.ActionLink("Clear", action, controller, new { storeId = storeId, search = "", categoryId = selectedCategoryId }, new { @class = "btn btn-danger btn-block glyphicon glyphicon-remove-circle" })
            </div>
        }
        else
        {
            <div class="col-md-5 col-xs-6">
                <button type="submit" class="btn btn-primary btn-block glyphicon glyphicon-search">Search</button>
            </div>
        }

    </div>
    
}