@model StoreManagement.Data.Entities.PageDesign

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Type)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Type)
    @Html.ValidationMessageFor(model => model.Type)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PageRazorTemplate)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.PageRazorTemplate)
    @Html.ValidationMessageFor(model => model.PageRazorTemplate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.StoreId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.StoreId)
    @Html.ValidationMessageFor(model => model.StoreId)
</div>

