@model StoreManagement.Data.Entities.PageDesign

@* This partial view defines form fields that will appear when creating and editing entities *@
@{
    int storeId = Model != null ? Model.StoreId : 0;
}

<div class="editor-label control-group">
    @Html.LabelFor(model => model.StoreId, new { @class = "control-label" })
</div>
<div class="editor-field controls">
    @Html.Action("StoresDropDown", "Stores", new { storeId })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Type)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Type)
    @Html.ValidationMessageFor(model => model.Type)
</div>
              @Html.HiddenFor(model => model.CreatedDate)
                    @Html.HiddenFor(model => model.UpdatedDate)
<div class="editor-label">
    @Html.LabelFor(model => model.PageRazorTemplate)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.PageRazorTemplate)
    @Html.ValidationMessageFor(model => model.PageRazorTemplate)
</div>

 
