@model IEnumerable<StoreManagement.Data.Entities.PageDesign>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @Html.Action("StoresFilter", "Stores", new { actionName = "Index", controllerName = "PageDesigns" })
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
 <table class='table table-hover table-bordered table-striped'>
    <tr>
        <th></th>
        <th>
            Type
        </th>
        <th>
            PageRazorTemplate
        </th>
        <th>
            StoreId
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Type
        </td>
        <td>
			@item.PageRazorTemplate
        </td>
        <td>
			@item.StoreId
        </td>
    </tr>
}

</table>


