{% extends "Master" %}



 

 
 {% block title %}
 Test Title     {{ model.store.id }}      {{ model.product.Name }}
 
 {% endblock %}  




 {% block content %} 
  
 {% assign product = model.product %}
 	<h1> {{ product.Name  }} </h1>
       {{  product.Description    }}


        {% for item in model.categories %}
 
 <div>
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 </div>


	 
 

{% endfor %}



 
 <span data-products-by-product-type
data-page=1  
data-template-design-name='HomePageProductsPartial' 
data-product-category-id={{ model.product.product_category_id }}
data-brand-id=0
data-retailer-id=0
data-image-width=10
data-image-height=10
data-page-size=50
data-excluded-product-id={{ model.product.id }}
data-product-type='normal'></span>


{% endblock %}



    {% block footer %}
	   	   {% include "footer2" %}
           {% endblock %} 