{% extends "Master" %}



 

 
 {% block title %}
 Test Title           {{ model.product.Name }}
 
 {% endblock %}  




 {% block content %} 
  
 {% assign product = model.product %}
 	<h1> {{ product.Name  }} </h1>
       {{  product.Description    }}


        {% for item in model.categories %}
 
 <div>
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 </div>

 

{% endfor %}

{% endblock %}



    {% block footer %}
	   	   {% include "footer2" %}
           {% endblock %} 