@using MvcPaging
@using StoreManagement.Data.Entities
@using StoreManagement.Data.GeneralHelper
@model StoreManagement.Data.RequestModel.StoreHomePage

@{
    ViewBag.Title = "Home Page";
    var homePageNews = Model.SNews;
    var homePageProductCategories = Model.SProductCategories;
    var homePageProducts = Model.SProducts;
    var imageCarusel = Model.SCarouselImages;
    var homePageBlogs = Model.SBlogs;
    
}


<h1>
    @Model.Store.Name
</h1>


<div class="row">
    <div id="sidebar" class="col-md-3">
        <div class="well well-small">
            <ul class="nav nav-list">

                @{
                    foreach (var item in homePageProductCategories)
                    {        
                    <li>
                        <span class="icon-chevron-right">
                            @Html.ActionLink(item.Name, "Category", "ProductCategories", new { id = String.Format("{0}-{1}", GeneralHelper.GetUrlSeoString(item.Name), item.Id) }, new { @class = "btn btn-lg btn-link" })
                        </span>
                    </li>
                    }
                }
            </ul>
        </div>


        <div class="well well-small">
            <a href="#">
                <img src="../../Content/shop-cart/../../Content/shop-cart/assets/img/paypal.jpg" alt="payment method paypal"></a>
        </div>

        <a class="shopBtn btn-block" href="#">Upcoming products
                    <br>
            <small>Click to view</small></a>
        <br>
        <br>
        <ul class="nav nav-list promowrapper">
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span>QUICK VIEW</a>
                    <img src="../../Content/shop-cart/../../Content/shop-cart/assets/img/bootstrap-ecommerce-templates.png" alt="bootstrap ecommerce templates">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border: 0">&nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span>QUICK VIEW</a>
                    <img src="../../Content/shop-cart/../../Content/shop-cart/assets/img/shopping-cart-template.png" alt="shopping cart template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border: 0">&nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span>QUICK VIEW</a>
                    <img src="../../Content/shop-cart/../../Content/shop-cart/assets/img/bootstrap-template.png" alt="bootstrap template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="col-md-9">
        <div class="well np">
            @Html.Partial("pStoreCarouselImages", imageCarusel)
        </div>
        <div class="well well-small">
            <h3>Products </h3>
            <hr class="soften" />
            <div class="well well-small">
                <div class="row">

                    @if (homePageProducts.Any())
                    {
                        foreach (var product in homePageProducts.Take(8))
                        {

                            var cat = homePageProductCategories.FirstOrDefault(r => r.Id == product.ProductCategoryId);
                             if (cat != null)
                             {
                                <div class="col-md-3">

                                    @Html.Partial("DisplayTemplates/ProductThumbnail", product, new ViewDataDictionary(ViewData)
                                    {
                                        {"ProductCategoryName", cat.Name}
                                    })

                                </div>
                             }
                        }

                    }

                </div>

            </div>

        </div>
        <hr>
        <div class="well well-small">
            <h3>News </h3>
            <hr class="soften" />
            <div class="well well-small">
                <div class="row">
                    @if (homePageNews.Any())
                    {
                        foreach (var news in homePageNews.Take(4))
                        {
                        <div class="col-md-12">
                            @Html.DisplayFor(model => news, "NewsContentItem")
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="well well-small">
            <h3>Blogs </h3>
            <hr class="soften" />
            <div class="well well-small">
                <div class="row">
                    @if (homePageBlogs.Any())
                    {
                        foreach (var blog in homePageBlogs.Take(3))
                        {
                        <div class="col-md-4">
                            @Html.DisplayFor(model => blog, "BlogContentItem")
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <section class="our_client">
        <hr class="soften" />
        <h4 class="title cntr"><span class="text">Manufactures</span></h4>
        <hr class="soften" />
        <div class="row">
            <div class="span2">
                <a href="#">
                    <img src="../../Content/shop-cart/../../Content/shop-cart/assets/img/1.png" alt="" />
            </div>
            <div class="span2">
                <a href="#">
                    <img alt="" src="../../Content/shop-cart/assets/img/2.png"></a>
            </div>
            <div class="span2">
                <a href="#">
                    <img alt="" src="../../Content/shop-cart/assets/img/3.png"></a>
            </div>
            <div class="span2">
                <a href="#">
                    <img alt="" src="../../Content/shop-cart/assets/img/4.png"></a>
            </div>
            <div class="span2">
                <a href="#">
                    <img alt="" src="../../Content/shop-cart/assets/img/5.png"></a>
            </div>
            <div class="span2">
                <a href="#">
                    <img alt="" src="../../Content/shop-cart/assets/img/6.png"></a>
            </div>
        </div>
    </section>
</div>
@section scripts
{


    <script>


        $(document).ready(function () {
            console.log("jquery is working");

        });

    </script>


}
