{% extends "Master" %}

 {% block title %}
 News  {{ model.store_liquid.name }}
 
 {% endblock %}  
 
 {% block content %} 


<div class="row">
    <div id="sidebar" class="col-md-3">
        <div class="well well-small">
            <ul class="nav nav-list">

               
         {% for item in model.product_categories %}
                     
                    <li>
                        <span class="icon-chevron-right">
                              
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 
                        </span>
                    </li>
               {% endfor %}
                
            </ul>
        </div>


        <div class="well well-small">
            <a href="#">
                <img src="../../Content/shop-cart/../../Content/shop-cart/assets/img/paypal.jpg" alt="payment method paypal"></a>
        </div>

        <a class="shopBtn btn-block" href="#">Upcoming products
                    <br>
            <small>Click to view</small></a>
        <br>
        <br>
        <ul class="nav nav-list promowrapper">
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span>QUICK VIEW</a>
                    <img src="../../Content/shop-cart/../../Content/shop-cart/assets/img/bootstrap-ecommerce-templates.png" alt="bootstrap ecommerce templates">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border: 0">&nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span>QUICK VIEW</a>
                    <img src="../../Content/shop-cart/../../Content/shop-cart/assets/img/shopping-cart-template.png" alt="shopping cart template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border: 0">&nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span>QUICK VIEW</a>
                    <img src="../../Content/shop-cart/../../Content/shop-cart/assets/img/bootstrap-template.png" alt="bootstrap template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="col-md-9">
        <div class="well np">
 
        </div>
        <div class="well well-small">
            <h3>Products </h3>
            <hr class="soften" />
            <div class="well well-small">
                <div class="row">

                     {% for item in model.products %}
                     
                    <li>
                        <span class="icon-chevron-right">
                              
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 
                        </span>
                    </li>
               {% endfor %}




                </div>

            </div>

        </div>
        <hr>
        <div class="well well-small">
            <h3>News </h3>
            <hr class="soften" />
            <div class="well well-small">
                <div class="row">
                    {% for item in model.news %}
                     
                    <li>
                        <span class="icon-chevron-right">
                              
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 
                        </span>
                    </li>
               {% endfor %}


                </div>
            </div>
        </div>
        <div class="well well-small">
            <h3>Blogs </h3>
            <hr class="soften" />
            <div class="well well-small">
                <div class="row">
                         {% for item in model.blogs %}
                     
                    <li>
                        <span class="icon-chevron-right">
                              
     <a href='{{ item.detail_link }}'> {{ item.name }} </a> 
	 
                        </span>
                    </li>
               {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <section class="our_client">
        <hr class="soften" />
        <h4 class="title cntr"><span class="text">Manufactures</span></h4>
        <hr class="soften" />
        <div class="row">
            <div class="span2">
                <a href="#">
                    <img src="../../Content/shop-cart/../../Content/shop-cart/assets/img/1.png" alt="" />
            </div>
            <div class="span2">
                <a href="#">
                    <img alt="" src="../../Content/shop-cart/assets/img/2.png"></a>
            </div>
            <div class="span2">
                <a href="#">
                    <img alt="" src="../../Content/shop-cart/assets/img/3.png"></a>
            </div>
            <div class="span2">
                <a href="#">
                    <img alt="" src="../../Content/shop-cart/assets/img/4.png"></a>
            </div>
            <div class="span2">
                <a href="#">
                    <img alt="" src="../../Content/shop-cart/assets/img/5.png"></a>
            </div>
            <div class="span2">
                <a href="#">
                    <img alt="" src="../../Content/shop-cart/assets/img/6.png"></a>
            </div>
        </div>
    </section>
</div>
  {% endblock %}  